h1{
	
	font-size: 3em;
	text-shadow: 3px 3px darkgrey;
	width: 500px;
	text-align: center;
	margin: 0px auto 0px;  
	transition: 1s;
	color: #2E2327;
}

body {

	background-image: linear-gradient(to right,mistyrose, lightpink);
	margin: 10px
}


p {
	text-align: center;
	text-shadow: 1px 1px darkgrey;
	transition: 1s;
	color: #2E2327;
	font-size: 16px;
}

img {
	width: 250px;
	height: 250px;
	max-width: 400px;
	margin: 20px auto; 
	transition: 1s;
	box-shadow: 10px 10px 10px grey;

}

img:hover{
	transform: scale(1.1);
}

h1:hover {
	transform: scale(1.1);
}

p:hover {
	transform: scale(1.1);
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}