{% load static %}
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<title>Simple Deployment</title>
</head>
<body>
	<div class="container">
		<a href="https://facebook.com/jkpsoria" target="_blank"><img src="{% static 'jk.jpg' %}"></a>
		
	</div>
	<h1>Jan Kenneth Pancho</h1>
	<p>Bachelor of Science in Information Technology - 3</p>

</body>
</html>